<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <style>
    .bg-1 { 
      background-color: #1abc9c;
      color: #ffffff;
    }
    .bg-2 { 
      background-color: #474e5d;
      color: #ffffff;
    }
    .bg-3 { 
      background-color: #ffffff;
      color: #555555;
    }
    .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
    }
    </style>
</head>
<body>

<div class="container-fluid">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-12 text-center">
            <h1 class="text-center">Hello iSazi, Welcome to my dummy app</h1>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>                                                                                                                                                                                                         
